# Ignore sensitive API keys
.kaggle/access_token
.venv/

#OS/IDE
.DS_Store
.vscode/
.idea/

# Ignore data files and large models
/data/
/models/
/catboost_info

# Python 
.ipynb_checkpoints/
.pytest_cache/
__pycache__/
empty_python.py